@import url('https://fonts.cdnfonts.com/css/arial-mt');
@import url('https://fonts.cdnfonts.com/css/wisdom-script');
@import 'mixins_variables.scss';
@import 'header.scss';
@import 'services.scss';
@import 'portfolio.scss';
@import 'about.scss';
@import 'team.scss';
@import 'logos.scss';
@import 'feedback.scss';
@import 'footer.scss';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width:1200px) {
    
    .golden {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .services {
        &_flex {
            max-width: 100%;
            flex-direction: column;
        }

        &_child {
            margin: 20px auto;
            & p{
                width: calc(100% + 100px);

            }
        }
    }

    .portfolio {
        &_flex {
            max-width: 615px;

            &_item {
                width: calc(50% - 17px);
            }

        }
    }

    .about {
        &_grid {
            max-width: 510px;
            grid-template-columns: 18fr 29fr;

            &_item{
                &_stick{
                    display: none;
                }
                
            }

            &_item:nth-child(1) {
                grid-row: 1;
                grid-column: 1;
            }

            &_item:nth-child(2) {
                grid-row: 1;
                grid-column: 2;
                font-family: $font;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                & p {
                    text-align: left;
                }

            }


            &_item:nth-child(3) {
                grid-row: 2;
                grid-column: 1;
            }

            &_item:nth-child(4) {
                grid-row: 3;
                grid-column: 1;
            }

            &_item:nth-child(5) {
                grid-row: 3;
                grid-column: 2;
            }

            &_item:nth-child(6) {
                grid-row: 4;
                grid-column: 1;
            }

            &_item:nth-child(7) {
                grid-row: 5;
                grid-column: 1;
            }

            &_item:nth-child(8) {
                grid-column: 2;
                grid-row: 5;
                font-family: $font;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                & p {
                    text-align: left;
                }

            }

            &_item:nth-child(9) {
                grid-column: 1;
                grid-row: 6;
            }

            &_item:nth-child(10) {
                grid-column: 1;
                grid-row: 7;
            }

            &_item:nth-child(11) {
                grid-column: 2;
                grid-row: 7;
            }

            &_item:nth-child(12) {
                grid-column: 1;
                grid-row: 8;
            }

            &_item:nth-child(13) {
                grid-column: 1;
                grid-row: 9;
            }



        }
    }

    .teamnew {
        &_flex {
            flex-direction: column;

            &_item {
                width: 100%;
                margin: 20px 0;
            }
        }
    }

    .logos {
        & ul {
            width: 480px;
            height: 170px;
            flex-wrap: wrap;
        }
    }

    .feedback {
        &_grid {
            grid-template-columns: minmax(300px,460px) ;
            grid-column-gap: 30px;
            grid-row-gap: 25px;
            grid-template-rows: repeat(6, 1fr);
            margin: auto;
            margin-bottom: 30px;

            &_item {
                &1 {
                    grid-row: 1;
                    grid-column: 1;
                }

                &2 {
                    grid-row: 2;
                    grid-column: 1;
                }

                &3 {
                    grid-row: 3;
                    grid-column: 1;
                }

                &4 {
                    grid-row: 4/7;
                    grid-column: 1;
                }
            }
        }
    }

    .footer {
        &_main {
            flex-direction: column-reverse;
            justify-content: space-between;

            &_item {
                margin: 10px 0;
            }

            &_item:last-child {
                margin: 0;
            }

        }
    }

}


@media screen and (max-width:768px) {
    .portfolio {
        &_flex {
            max-width: 290px;

            &_item {
                width: 100%;
                margin: 20px 0;
            }

        }
    }

    .logos {
        & ul {
            width: 240px;
            height: 340px;
            flex-wrap: wrap;
        }
    }
}
@media screen and (max-width:550px) {
    .top_hello{
        &_flex1{
            flex-direction: column;
            & .socials{
                flex-direction: column;
                & li{
                    margin: 10px auto;
                }
            }
        }
    }
}